# Dependency directories
node_modules/

# Expo / Metro
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*
.metro-cache/

# Native files
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# System files
.DS_Store
*.pem

# Environment files
.env
.env.*
.env*.local
!.env.example

# Cache and temporary folders
.cache/
*.tsbuildinfo
app-example/
